<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aglofocus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: #d6d6d6">
<div style="background-color: whitesmoke; margin-top: 180px; margin-right: 50px; margin-left: 50px">
<h1 style="text-align: center">Aglofocus</h1>
    <a href="{% url 'form:user_form' %}" style="color: black">
        <h2 style="text-align: center;">Click</h2></a>
    <a href="{% url 'form:user_form' %}" style="color: black">
        <h3 style="text-align: center;">/user-form</h3></a>
</div>
</body>
</html>